.sys {
	color: ;
	font-family: Georgia;
}
.sqs {
	color: ;
	font-family: Georgia;
}
.sws {
	color: ;
	font-family: Georgia;
}
.fio {
	color: ;
	font-family: Times New Roman;
}
html {
	background-color: aliceblue;
}
.szs {
	font-family: Georgia;
}
.sxs {
	font-family: Georgia;
}
.scs {
	font-family: Georgia;
}
.svs {
	font-family: Georgia;
}
.sbs {
	font-family: Georgia;
}